<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card mt-5 bg-light">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary">Welcome to Location<sup>3</sup>!</span>
        </h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="business">Select your business type:</label>
            <select class="form-control" name="businessType" [(ngModel)]="businessType">
              <option value=""></option>
              <option *ngFor="let businessType of businessTypes" [value]="businessType">{{ businessType }}</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-dark" (click)="loadMap()">Choose Starting Location</button>
          </div>
          <div class="form-group">
            <label for="lat">Latitude:</label>
            <input type="number" class="form-control" placeholder="Latitude" name="lat" [(ngModel)]="lat">
          </div>
          <div class="form-group">
            <label for="lng">Longitude:</label>
            <input type="number" class="form-control" placeholder="Longitude" name="lng" [(ngModel)]="lng">
          </div>
          <div class="form-group">
            <label for="rad">Radius:</label>
            <input type="number" class="form-control" placeholder="Radius" name="rad" [(ngModel)]="rad">
          </div>
          <button class="btn btn-primary" type="submit"
            [disabled]="!businessType || lat == '' || lng == '' || !rad">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>