agm-map {
  height: 100vh;
}

.map-overlay {
  position: fixed;
  z-index: 1;
}

#back-overlay {
  width: 11vw;
  top: 3vh;
  left: 3vw;
}

#legend-overlay {
  width: 18vw;
  bottom: 5vh;
  left: 5vw;
}
